:root {
  --default_background: gray;
}

html{
   background: var(--default_background);
}
body{
  margin: 0;    
}

body .ace_gutter-cell.ace_warning,
body .ace_gutter-cell.ace_error {
    background-image: none !important;
    background-repeat: no-repeat !important;
    background-position: 0;
}

.pnc-editor-container{
  display:block;  
  width:100%;
  height:100%;
}

.pnc-editor-container input,
.pnc-editor-container button,
.pnc-editor-container a{
  font-size:13px;
}

.pnc-editor-container button{
  border:none;
  margin:5px 5px 0 5px;
}


.pnc-editor-container a{
  text-decoration: none;
  color:black;
}

.pnc-editor-panel{
  display:block; 
  overflow: auto;
  float:left;
  width:40%;
  height: 100vh;
  background:lightgray;
}

.pnc-panel-navigation-wrapper{
  position: relative;
}

.pnc-panel-navigation{
  position: absolute;
  background: gray;
  width: 100%;
  padding-bottom: 5px;
}

.pnc-panel-spacing{
  display:block;
  height:30px;
}

.pnc-editor-component{
  padding: 10px 0 
}

.pnc-title,
.pnc-editor-panel div.ace_editor {
  width: 98% !important;
} 

.pnc-title{
  border:1px solid white;
}

.pnc-url{
  width:100%;
  background: var(--default_background);
  color: white;
  border-top: 0;
  border-right:0;
  border-left: 0;
  padding: 5px;
}

.pnc-url::placeholder{
  color: white;
}

.pnc-url::focus{
  border:0;
}


.pnc-editor-website-frame{
  display:block;  
  float:left;
  width:60%;
  height: 100vh;
  background: var(--default_background);
  
}

.pnc-editor-website-frame iframe{
    display: block;
    float: left;
    width: 100%;
    height: 80vh;
    border: none;
}

.pnc-pop-up-wrapper{
  position: absolute;
  background: var(--default_background);
  top: 0;
  left: 40%;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.pnc-pop-up-box{
  background: lightgray;
  width: 80%;
  margin: 10% 0 0 20px;   
}     

.display-none{
  display: none;
}
